


/* Full width form fields */
.full-width {
    width: 100%;
    margin-bottom: 15px;
  }
  
  /* Table styles */
  .mat-table {
    width: 100%;
  }
  
  .table-section {
    margin-top: 15px;
  }
  