body {
  background-color: #f4f4f4;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.form-section {
  flex: 0 0 50%; /* Assign specific proportion to the form */
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-section {
  flex: 1; /* Table section will consume the remaining space */
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

.mat-form-field,
.quill-editor {
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

::ng-deep .quill-editor .ql-container {
  height: 200px;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}

button {
  padding: 8px 15px;
  color: #fff;
  background-color: #555;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #444;
}

::ng-deep .mat-table {
  width: 100%;
  border-collapse: collapse;
  color: #333;
}

::ng-deep .mat-table,
::ng-deep .mat-header-cell,
::ng-deep .mat-cell {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

::ng-deep .mat-column-actions, .mat-column-date, .mat-column-category, .mat-column-postId  {
  width: 270px;  /* Adjust this width as necessary */
}

::ng-deep .mat-column-title {
  width: 500px;  /* Adjust this width as necessary */
}

.view-button {
  margin-right: 10px;  /* Adds space to the right of the View button */
}

.delete-button {
  margin-left: 10px;  /* Adds space to the left of the Delete button */
}
